<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <GoogleTestAdapterSettings>
    <SolutionSettings>
      <Settings>
        <AdditionalTestExecutionParam>-testdirectory=$(TestDir)</AdditionalTestExecutionParam>
      </Settings>
    </SolutionSettings>
    <ProjectSettings>
      <Settings ProjectRegex=".*\.Tests">
        <TestDiscoveryRegex>.*\.Tests\.exe</TestDiscoveryRegex>
      </Settings>
    </ProjectSettings>
  </GoogleTestAdapterSettings>
</RunSettings>